*{
    box-sizing: border-box;
    font-family: Candara Light;
}
body{
    margin: 0;
    background-color: #444;
    position: relative;
}

.cover{

    padding: 0.5rem;
    /* padding-top: 5rem; */
    width: 100%;
    height:  88vh ;

    display: grid ;

    grid-template-rows:  repeat(9,1fr) ;

    grid-template-columns: repeat(  9 , 1fr ) ;

    grid-auto-flow: column ;

    gap: 0.5rem ;

}

.white-txt{
    color: white;
}

.key{
    padding: 0.5rem;
    /* width: 90px  ; */
    border: 2px solid black;
    color: whitesmoke;
    background-color: #323;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    /* transition:  all 0.1s ease-in-out ; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
}

.sound{
    font-size: 0.7rem ;
    /* color: #eee; */
}

.main > .sound{
    font-size: 1.2rem;
}


.key[data-key="65"] {
    background-color: tomato;
}
.key[data-key="83"] {
    background-color: teal;
}
.key[data-key="68"] {
    background-color: darkgoldenrod;
}
.key[data-key="70"] {
    background-color: blueviolet;
}
.key[data-key="71"] {
    background-color: sienna;
}
.key[data-key="72"] {
    background-color: seagreen ; 
}
.key[data-key="74"] {
    background-color: purple;
}
.key[data-key="75"] {
    background-color: red;
}
.key[data-key="76"] {
    background-color: palevioletred;
}


.disabled.op{
    background-color: #888 ;
    color: #323;
    transform:  rotate(0deg) !important ;
}

.op.key.selected {
    color: whitesmoke;
}

/* .op.key.green {
    background-color: green;
} */

.op.key.glow {
    transform: rotate(10deg) ;
}



.btns {

    width: 80%;

    padding: 0.5rem 1rem ;

    margin: auto;

    border-radius: 1rem;

    display: flex;

    align-items: center;

    justify-content: space-around;

}

.btns > .btn {
    padding:  1rem 2rem  ;

    margin: 0 1rem;

    background-color: #777;
    color: whitesmoke;
    border-radius: 1rem;
    cursor: pointer;

}

.btns > .btn:hover {
    background-color: #111;
    color: #eee;
}

.cover-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(48, 48, 48, 0.527);
    top: 0;
    left: 0;
    display: none;
}

.show {
    display: block;
}

#pause {
    z-index: 7;
}

.range-wrap{
    width: 15rem ;
    padding:  0.5rem 1rem ;
	position: relative;
}

input[type=range] {
	-webkit-appearance: none;
	/* margin: 20px 0; */
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 3px;
	cursor: pointer;
	background: #222;
}

input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ddd;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}



  .reset {
      left: 65%;
  }

  .slider {
      left: 75%;
  }

  .rz{
      transform:  rotate(0deg) !important  ; 
  }


  @media ( max-width : 800px ) {
    .btns > .btn {
        padding:  0.7rem ;
    }
    .key{
        padding: 4px;
    }
    .cover {
        gap: 4px;
    }
    .main > .sound {
        font-size: 0.8rem;
    }
  }

  @media ( max-width : 600px ) {
    
    .cover {
        padding:  2px ;
        /* padding-top:  72px ; */
        gap: 2px;
    }

    .key {
        padding: 2px;
        border-width: 0.5px;
    }

    .key > .sound {
        transform: rotate(-90deg);
    }
  }

  
  @media ( max-width : 500px ) {
    
    .key.op > .sound {
        display: none;
    }
    .btns {
        width: 95%;
        /* padding:  1.5rem 0.5rem ; */
    }
    .range-wrap {
        padding: 0;
    }
  }